input.barcode
{
    margin-right: 10vw;
    margin-left: 20vw;
    width: 69vw;

    margin-top: 2vh;
    height: 7vh;

    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: var(--detail-purple);

    border-bottom-color: #63e9a6;
    border-left-color: #63e9a6;

    background-color: #000000;
    color: #ffffff;
    
    font-size: 3vh;
    text-align: right;  
}

div.description
{
    padding-right: 11vw;
    padding-top: 5vh;

    text-align: right;
    font-size: 4vh;    
}

table.listAndStats
{
    margin-top: 5vh;
}

.middle
{
    width: 18vw;
}

td.void
{
    height: 5px;
    width: 5px;
}














input.finalNoCadBtn
{
    margin: 2.8vw;
    margin-top: 5vh;
    width: 14vw;
    height: 8vh;
    /*display: inline-block;*/
    
    border-radius: 5px;
    font-size: 1.5vw;

    color: #000;
}

#finalNoCadBtnSeguir
{
    background-color: var(--detail-red);
    /*border-color: #ff0000;*/
}

#finalNoCadBtnVer
{
    background-color: var(--detail-green);
    /*border-color: #00ff80;*/
}











