.searchText{
    
    margin-right: 0;
    margin-left: 0;
    width: 50vw;

    margin-top: 2vh;
    height: 5vh;

    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: var(--detail-purple);

    border-bottom-color: #63e9a6;
    border-left-color: #63e9a6;

    background-color: #000000;
    color: #ffffff;
    
    font-size: 1em;
    text-align: left;  
}

.search{
    border: 3px;
    border-style: solid;
    border-color: var(--detail-purple);

    width: 80vw;
    height: 80vh;
    margin-left: 0;

    text-align: center;

    background-color: #000;

    overflow: auto;
}


.btnSearch 
{

    width: 8vw;
    height: 8vh;


    margin: 2.3vw;
    margin-top: 5vh;
    border-radius: 5px;
    font-size: 1vw;

    color: #000;
    background-color: var(--text-default);
}

.tblSearch{
    margin: auto;
    border: 3px;
    border-style: solid;
    border-color: var(--detail-purple);
    
}


.colSearch{

    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    border: 0px;
    border-left: 3px;
    border-style: solid;
    border-color: var(--detail-purple);
    
}

div.searchItem table tr  :hover{
    cursor: pointer;

    background-color: var(--detail-green);
    color: #000;
}

.sBarcode{
    width: 10em;
}

.sDescription{
    width: 28em;
}

.sQuant{
    width: 7em;
}

.sPrice{
    width: 7em;
}

.contPopup{
    overflow: auto;
}